* {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.article{
    text-align: center;
   background-color: #d9e9d8;
   border: 3px solid #fff;
}
.article h2{
    border-bottom: 2px solid #092919;
    margin-top: 11vh;
    font-weight: bold;
}


.sessao_noticias{
	justify-content: space-around;
	display:flex;
}

footer.bg-light text-center text-lg-start{
	background-color: #092919;
}

    
@media screen and (max-width: 500px) {
	.sessao_noticias {
	align-items: center;
    flex-direction: column;
  }
}
